{% extends 'base.html' %}
<!-- 실제 표시 내용 -->
{% block content %}
<div class="container">
        <div id="map" style="height:400px;"></div>
    <form class="form">
        <table class="table" width="100%">
            <thead>
                <tr>
                    <th scope="col">branch Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">company Name</th>
                    <th scope="col">
                        <select class="custom-select" name="selectCompanyDropdown" id="selectCompanyDropdown">
                            <option selected value="CGV">CGV</option>
                            <option value="MEGABOX">MEGABOX</option>
                            <option value="Lotte">Lotte Cinema</option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody class="theater-tbody" id="CGV_branch">
            <tr>
                {% for branch in CGV_branchs %}
                {% if forloop.counter0|divisibleby:"5" %}
                </tr>
                <td width="20%">
                <div class="custom-control row custom-checkbox">
                    <input type="checkbox" name="CGV" class="custom-control-input checkBranch" value="{{branch}}" id="{{branch}}">
                    <label class="custom-control-label" for="{{branch}}">{{branch}}</label>
                </div>
                {% else %}
                <td width="20%">
                    <div class="custom-control row custom-checkbox">
                    <input type="checkbox" name="CGV" class="custom-control-input checkBranch" value="{{branch}}" id="{{branch}}">
                    <label class="custom-control-label" for="{{branch}}">{{branch}}</label>
                </div>
                </td>
                {% endif %}
                {% endfor %}
                </tr>
            </tbody>
            <tbody class="theater-tbody" id="MEGABOX_branch" style="display:none">
            <tr>
                {% for branch in MEGABOX_branchs %}
                {% if forloop.counter0|divisibleby:"5" %}
                </tr>
                <td width="20%">
                <div class="custom-control row custom-checkbox">
                    <input type="checkbox" name="MEGABOX" class="custom-control-input checkBranch" value="{{branch}}" id="MEGABOX_{{branch}}">
                    <label class="custom-control-label" for="MEGABOX_{{branch}}">{{branch}}</label>
                </div>
                {% else %}
                    <td width="20%">
                        <div class="custom-control row custom-checkbox">
                            <input type="checkbox" name="MEGABOX" class="custom-control-input checkBranch" value="{{branch}}" id="MEGABOX_{{branch}}"
                            data-branch = "{{branch}}">
                            <label class="custom-control-label" for="MEGABOX_{{branch}}">{{branch}}</label>
                        </div>
                    </td>
                {% endif %}
                {% endfor %}
                </tr>
            </tbody>
            <tbody class="theater-tbody" id="Lotte_branch" style="display:none">
            <tr>
                {% for branch in Lotte_branchs %}
                {% if forloop.counter0|divisibleby:"5" %}
                </tr>
                <td width="20%">
                <div class="custom-control row custom-checkbox">
                    <input type="checkbox" name="Lotte" class="custom-control-input checkBranch" value="{{branch}}" id="Lotte_{{branch}}">
                    <label class="custom-control-label" for="Lotte_{{branch}}">{{branch}}</label>
                </div>
                {% else %}
                    <td width="20%">
                        <div class="custom-control row custom-checkbox">
                            <input type="checkbox" name="Lotte" class="custom-control-input checkBranch" value="{{branch}}" id="Lotte_{{branch}}"
                            data-branch = "{{branch}}">
                            <label class="custom-control-label" for="Lotte_{{branch}}">{{branch}}</label>
                        </div>
                    </td>
                {% endif %}
                {% endfor %}
                </tr>
            </tbody>
        </table>
    <span style="font-size:xx-large"> Select Location</span>
    <button type="submit" class="btn btn-outline-success" id="submitButton" style="float: right">영화 검색하기</button>
    </form>

</div>
{% endblock %}
<!-- 자바스크립트 -->
{% block script %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b81f929ee084f4abd4849adf036938f"></script>
<script>
    var Branchs = JSON.parse('{{branchs_locations|safe}}');
    $(document).ready(function(){
        var CGVBranchSet = new Set();
        var LotteBranchSet = new Set();
        var MEGABOXBranchSet = new Set();
        var lat = 0,lon = 0;
        var nowLoc = navigator.geolocation.getCurrentPosition(function(position){
            lat = position.coords.latitude;    // 위도
            lon = position.coords.longitude;


            var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
            var options = { //지도를 생성할 때 필요한 기본 옵션
                center: new kakao.maps.LatLng(lat, lon), //지도의 중심좌표.
                level: 6 //지도의 레벨(확대, 축소 정도)
            };

            var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

            for(branch_val in Branchs){

                var position = new kakao.maps.LatLng(Branchs[branch_val]["lat"],Branchs[branch_val]["lon"]);
                var marker = new kakao.maps.Marker({
                    map : map,
                    position : position,
                    clickable : true
                });
                var iwContent = '<div>'+Branchs[branch_val]['name']+'</div>';

                var infowindow = new kakao.maps.InfoWindow({
                    content : iwContent,
                    removable : true,

                });

                function makeClickListener(map,marker,infowindow){
                    return function(){
                        infowindow.open(map,marker);
                    }
                }
                kakao.maps.event.addListener(marker,'click',makeClickListener(map,marker,infowindow));
            }
        });

        $('#selectCompanyDropdown').on('change',function(){
            companyName = $('#selectCompanyDropdown option:selected').val();
            console.log('#'+companyName+"_branch");
            $('tbody').attr('style','display:none');
            $('#'+companyName+"_branch").attr('style','display:');
        });

        $(document).on('submit', '.form', function () {
            event.preventDefault();
            var data = $(this).serialize()
            console.log($(this).serialize());
            $.ajax({
                    url: '{% url "board:findbylocate" %}',
                    method: 'GET',
                    data: data,
                    success: function (data) {
                        console.log("success");
                    },
                    error: function (data) {
                        console.log("fail");
                    },
                })
        })

    });
</script>
{% endblock %}