{% extends 'base.html' %}
{% block stylesheet %}
<style>
</style>
{% endblock %}
<!-- 실제 표시 내용 -->
{% block content %}
<div class="container mt-5">
    <div class="card">
        <p class="mt-3 ml-4">
            <button class="btn btn-primary btn-company" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                COMPANY
            </button>
            <button class="btn btn-primary btn-branch" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                BRANCH
            </button>
            <button class="btn btn-primary btn-room" type="button" data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                ROOM
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body card-body-collapse">

            </div>
        </div>
        <form class="review-form">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <input type="hidden" name="room_id">
            <div class="card-body">
                <textarea name="contents" class="form-control" rows="5"></textarea>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-primary" value="작성하기">
            </div>
        </form>
    </div>
</div>
<div class="container container-review-list">
    {% for review in reviews %}
    <div class="row mt-4 review-{{review.id}}">
        <div class="card col-12">
            <div class="card-body">
                <span class="card-text text-primary">{{review.room.theater.company}}
                </span><span class="card-text text-primary">{{review.room.theater.branch}}
                </span>
                <span class="card-text text-primary">{{review.room.name}}
                </span>
                <p class="card-text mt-1">{{review.contents}}
                </p>
            </div>
            <div class="card-body">
                <span class="float-right text-muted">
                    {% if review.user_id == user.id %}
                    <button class="btn btn-danger" data-review-delete-id="{{review.id}}"><i class="fas fa-eraser"></i></button>
                    {% else %}
                    created by {{review.user.username}}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
<!-- 자바스크립트 -->
{% block script %}
<script>
    $(function () {
        $(document).on('click', '.btn-company', function () {
            $('.table-borderless').remove();
            $('.btn-branch').text("BRANCH");
            $('.btn-room').text("ROOM");
            $.ajax({
                url: '{% url "reviews:review_company" %}',
                method: 'GET',
                success: function (data) {
                    $('.card-body-collapse').append(data);
                },
                error: function (data) {
                    console.log("fail");
                },
            })
        })
        $(document).on('click', '.btn-company-name', function () {
            $('.btn-company').text($(this).val());
            $('.collapse').toggleClass("show");

        })
        $(document).on('click', '.btn-branch', function () {
            $('.btn-room').text("ROOM");
            $('.table-borderless').remove();
            var company = $('.btn-company').text();
            $.ajax({
                url: '{% url "reviews:review_branch" %}',
                method: 'GET',
                data: {
                    company_name: company,
                },
                success: function (data) {
                    $('.card-body-collapse').append(data);
                },
                error: function (data) {
                    console.log("fail");
                },
            })
        })
        $(document).on('click', '.btn-branch-name', function () {
            $('.btn-branch').text($(this).val());
            $('.collapse').toggleClass("show");

        })
        $(document).on('click', '.btn-room', function () {
            $('.table-borderless').remove();
            var company = $('.btn-company').text();
            var branch = $('.btn-branch').text();
            $.ajax({
                url: '{% url "reviews:review_room" %}',
                method: 'GET',
                data: {
                    company_name: company,
                    branch_name: branch,
                },
                success: function (data) {
                    $('.card-body-collapse').append(data);
                },
                error: function (data) {
                    console.log("fail");
                },
            })
        })
        $(document).on('click', '.btn-room-name', function () {
            $('.btn-room').text($(this).val());
            selected_id = $(this).data("id");
            $('.btn-room-name').data("selected-id", selected_id);
            $('input[name=room_id]').val(selected_id);
            $('.collapse').toggleClass("show");

        })
        $(document).on('submit', '.review-form', function (event) {
            event.preventDefault();
            var data = $(this).serialize();
            $.ajax({
                url: '{% url "reviews:reviews" %}',
                method: 'POST',
                data: data,
                success: function (data) {
                    console.log(data);
                    $('.container-review-list').prepend(data);
                    console.log("success");
                },
                error: function (data) {
                    console.log("fail");
                },
            })
        })
        $(document).on('click', '.btn-danger', function () {
            var review_id = $(this).data("review-delete-id");
            console.log(review_id);
            $.ajax({
                url: '{% url "reviews:delete_review" %}',
                method: 'POST',
                data: {
                    review_id: review_id,
                    csrfmiddlewaretoken: '{{csrf_token}}', 
                },
                success: function (data) {
                    $('.review-'+data).remove();
                    console.log(data);
                   
                },
                error: function (data) {
                    console.log("fail");
                },
            })

        })
    })
</script>
{% endblock %}