{% extends 'base.html' %}
{% block stylesheet %}
<style>
</style>
{% endblock %}
<!-- 실제 표시 내용 -->
{% block content %}
<div class="container mt-5">
    <div class="card">
        <form>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="card-body">
                <textarea name="contents" class="form-control" rows="5"></textarea>
            </div>
            <div class="card-footer text-right">
                <input type="submit" class="btn btn-primary" value="작성하기">
            </div>
        </form>
    </div>
</div>
<div class="container">
    {% for review in reviews %}
    <div class="row mt-4">
        <div class="card col-12">
            <div class="card-body" style="min-height: 9rem;">
                <p class="card-text">{{article.contents}}
                </p>
            </div>
            <div class="card-body">
                <span class="float-right text-muted">
                    {% if review.user_id == user.id %}
                    <a href="{% url 'edit' review.id %}" class="btn btn-info"><i
                            class="fas fa-trash-restore-alt"></i></a>
                    <a href="{% url 'delete' review.id %}" class="btn btn-danger"><i class="fas fa-eraser"></i></a>
                    {% else %}
                    created by {{review.user.username}}
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
<!-- 자바스크립트 -->
{% block script %}
<script>
   
</script>
{% endblock %}