<div class="row branch-row">
    <table class="table ">
        <thead>
            <tr>
                <th scope="col">Category</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="branch-tbody">
            {% for theater in theaters %}
            {% if forloop.counter0|divisibleby:"5" %}
            <tr class="row">
            <th scope="row"><input type="button" class="btn btn-branch-name" value="{{theater.branch}} " data-id="{{theater.id}}">
                    </th>
            {% else %}
            <td><input type="button" class="btn btn-branch-name" value="{{theater.branch}}" data-id="{{theater.id}}"></td>
            {% endif %}
            {% if forloop.counter|divisibleby:"5" %}
            </tr>
            {% endif %}
            {% endfor %}
            {% for i in remain_count %}
            <td></td>
            {% endfor %}
        </tbody>
    </table>
</div>

<span class="float-right form-btn"><button type="submit" class="btn">Search</button></span>

